.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MuiCard-root{
  background-color: yellow;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  margin: '30px 0';
  padding: '30px';
}

.card {
    display:flex;
    /* background-color: #fff2a3; */
    box-shadow:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:8px ;
    margin:8px;  
    
}
.content{
  color: #272727;
  font-family: Quicksand,serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}
.card:hover{
  background: #d0cfcf ;
}

.header {
  font-size:2rem;
  color: rgba(0,183,255, 1);
  text-align:center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
